* {
	box-sizing: border-box;
}

/*==== Map Styling ====*/

#map {
	margin: auto;
	height: 350px;
	width: 300px;
}


/*==== Main Styles ====*/

.container {
	margin: auto;
	margin-bottom: 1em;
	width: 220px;
	overflow: hidden;
}

img {
	height: 100px;
	border-radius: 5px;
}

p {
	display: inline;
	font-weight: normal;
	font-size: 0.7em;
}

input,
button {
	height: 1.75em;
	display: inline-block;
}

input {
	width: 140px;
	float: left;
}

input:focus{
	border: green solid 3px;
}

button {
	float: right;
	width: 80px;
}
.moreInfo {
	color: blue;
	font-weight: bold;
}

.moreInfo:hover {
	cursor: pointer;
	color: orange;
	text-decoration: underline;
}

.error {
	display: block;
	background: red;
	visibility: hidden;
	padding: 3px;
	border-radius: 3px;
	margin-top: 2.25em;
	clear: both;
}
h1,
h2,
.error {
	font-family: Poppins;
	text-align: center;
	
}

h1 {
	font-size: 2em;
	margin-bottom: 0;
}

h2 {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.5em; 
	text-style: none;
}

.icon {
	display: inline;
	padding-left: 4px;
	width: 14px;
	height: 14px;
}

a:hover {
	color: orange;
	border-bottom: 2px orange solid;
}

/*==== Media Queries ====*/ 

@media (min-width: 550px) {
	
	#map {
		height: 600px;
		width: 450px;
	}
	

	h1 {
		font-size: 2.75em;
	}

	h2 {
		font-size: 1.5em;
	}	

}

@media (min-width: 850px) {
	
	#map {
		height: 700px;
		width: 650px;
	}
	

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.5em;
	}	

}