* {
	box-sizing: border-box;
}

/*==== Map Styling ====*/

#map {
	margin: auto;
	height: 350px;
	width: 90%;
	border: 2px black solid;
	border-radius: 20px;
	box-shadow: 3px 3px 3px black;
}

img {
	height: 100px;
	border-radius: 5px;
}

.marker-window h3 {
	font-size: 1.1em;
	margin-top: 0.4em;
	margin-bottom: 0.5em;
}

.marker-window p {
	font-style: italic;
}

.marker-window img {
	width: 140px;
	height: auto;
}

.marker-window h4 {
	font-size: 0.9em;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.marker-window a {
	color: blue;
	font-weight: bold;
}

.marker-window a:hover {
	color: orange;
	text-decoration: underline;
}

.marker-window {
	width: 160px;
	height: fit-content;
	height: 250px;
	height: fit-content;	
}

.marker-window .sub_county,
.marker-window .sub_status,
.marker-window .sub_post {
	display: none;
	
}

.marker-window .sub_county {
	font-style: italic;
}

/*==== Main Styles ====*/

body {
	font-family: Poppins;
	background-color: #E0EEE6;
}

/* Nav-bar */

#logo {
	
	width: 40px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 5px;
}

ul {
	float: right;
	text-align: center;
	text-shadow: 1px 1px 1px slategray;
	font-size: 0.75em;
}

li {
	display: inline-block; 
	float: left;
	padding-right: 0.4em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover 
{
     color:orange; 
     text-decoration:none; 
     cursor:pointer;  
}

footer {
		display: flex;
		width: 100%;
		background-color: darkgreen;
		height: 60px;
		margin-top: 75px;
		align-items: center;
	}
	
footer p {
	text-align: center;
	color: white;
	margin: auto;
}

/* Headings */

h1 {
	font-family: 'IM Fell English SC', serif;
	display: block;
	text-align: center;
	vertical-align: center;
	font-size: 1.5em;
	color: darkgreen;
	text-shadow: 2px 2px 2px slategray;
}

h2 {
	font-family: Poppins;
	font-size: 1em;
	margin: 1em 0;
	text-shadow: 1px 1px 1px gray;
}

h2,
#error {
	text-align: center;
	
}

h3 {
	font-size: 1.5em; 
}

p {
	display: inline;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	text-align: center;
}

/* Menu */

input {
	text-transform: uppercase;
}

input:focus{
	border: green solid 3px;
}

button {
	width: 80px;
	display: inline-block;
  border: none;
	border-radius: 0 5px 5px 0;
  padding: 0 1em;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
	/* flex-basis: 30%; */
}

input, 
button {
	padding: 5px;
}

#error {
	display: block;
	width: 100%;
	background: red;
	visibility: hidden;
	padding: 3px;
	border-radius: 3px;
	margin-top: 0.25em;
	font-size: 0.85em;
}


/* ==== Classes ==== */

.nav-bar {
	position: absolute;
	width: 100%;
	background-color: rgb(152,251,152);
	color: darkgreen;
	height: 95px;
	box-shadow: 0px 1px 1px gray;
}


.wrapper {
	padding-top: 110px;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	height: 135px;
	font-size: 0.85em;
	margin: auto;
	border: darkgreen 1px solid;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 2px black;
	background-color: #85DC84;
}

.container {
	margin: 0 auto;
	width: 80%;
	max-height: 100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

/* === About page === */

#about {
	width: 70%;
	margin: auto;
	padding-top: 140px;
}

#about h1 {
	margin-bottom: 0.7em;
}

/*==== Media Queries ====*/ 

@media (max-width: 720px) {
	.nav-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
		
	.nav-bar #logo {
		order: 0;
		width: 30px;
	}
	
	.nav-bar h1 {
		order: 1;
		padding-bottom: 0.25em;
	}
		
	.nav-bar ul {
		order: 2;
		padding-top: 0.5em;
		padding-bottom: 1em;
		border-top: 1px solid darkgreen;
	}
	
	li:nth-of-type(1) {
		padding-left: 0.4em;
	}
	
	#postcode {
		width: 120px;
	}
}

@media (min-width: 521px) {
	#map {
		width: 400px;
		height: 550px;
	}
	
}

@media (min-width: 721px) {
	.nav-bar ul {
		font-size: 0.8em;
		border: none;
		font-family: 'IM Fell English SC', serif;
	}

	.nav-bar {
		line-height: 95px;
	}
	
	#logo {
		float: left;
		padding: 20px 30px;
		display: inline-block;
		width: 115px;
		height: auto;
	}

	.wrapper {
		padding-top: 140px;
	}
	
	.container {
		width: 70%;
	}
	input {
		font-size: 1.25em;
		font-weight: bold;
		font-family: sans-serif;
	}
	input,
	button {
		height: 50px;
	}
	
	#map .icon {
		width: 70px;
		height: auto;
	}
	
	#map {
		height: 600px;
		width: 450px;
	}
	
	.sub_county {
		margin-top: -5px;
	}
	
	.marker-window .heading {
		margin-bottom: 0px;
	}
	
	.marker-window .sub_county,
	.marker-window .sub_post {
		display: block; /*show extra details */
		margin-top: 0px;
	}
	
	.marker-window {
		width: 190px;
		width: fit-content;
		height: fit-content;
	
	}

	.marker-window h3 {
		font-size: 1.5em;
	}

	.marker-window img {
		width: 180px;
		height: auto;
	}

	.marker-window h4 {
		font-size: 0.8em;
		margin-top: 0.6em;
		margin-bottom: 0.8em;
	}
	
	.menu {
		font-size: 1em;
		width: 400px;
		height: 190px;
		margin-bottom: 40px;
	}
	
	ul {
		display: inline-block;
		float: right;
		padding-right: 1em;
	}

	li {
		float: left;
		padding: 0 1.5em;
		font-size: 1.25em;
	}

	li:hover{
		background: darkgreen;
		color: white;
	}

	h1 {
		font-size: 1.5em;
		display: inline-block;
	}

	h2 {
		font-size: 1.1em;
	}	

}

@media (min-width: 850px) {

	li {
		font-size: 1.5em;
	}

	h1 {
		font-size: 2em;
		text-align: left;
	}

	h2 {
		font-size: 1.5em;
	}
	
	#about * {
		display: block;
		text-align: center;
	}
	
	#map {
		height: 700px;
		width: 650px;
	}
	
	.menu {
		width: 550px;
	}
	
	.sub_county {
		margin-top: -5px;
	}
	
	.marker-window .heading {
		margin-bottom: 0px;
	}
	
	.marker-window .sub_county,
	.marker-window .sub_post {
		display: block; 
		margin-top: 0px;
	}
	
	.marker-window {
		width: 210px;
		width: fit-content;
		height: fit-content;
	
	}

	.marker-window h3 {
		font-size: 1.8em;
	}

	.marker-window img {
		width: 210px;
		height: auto;
	}

	.marker-window h4 {
		font-size: 1em;
		margin-top: 0.75em;
		margin-bottom: 1em;
	}

}